* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.withCheckeredBackground {
  background: linear-gradient(#f2f2f2fa, #f2f2f2fa),
    url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX33734809.jpg");
  background-size: 15%;
  background-repeat: repeat;
}

.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
}

.ColorSwatches {
  padding: 16px 24px;
}

.ColorSwatches .swatchGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px 12px;
  padding: 0px 16px;
}

.CircleSwatch:hover {
  transform: scale(1.2);
}

.innerCircleSwatch {
}

.sketch-picker {
  box-shadow: none !important;
  font-family: "SF UI Text" !important;
}

svg[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

[data-icon] {
  cursor: pointer;
}

[data-icon][disabled] {
  cursor: not-allowed;
}

[data-isSelectedElement="true"] {
  border: 2px solid #d87093 !important;
}

.Element {
  outline: 4px dotted transparent;
  transition: outline 0.25s ease-out;
}

.hoverFinder {
  outline: 2px dotted #f19034;
}
/* 
.Element:hover {
  outline: 1px dotted palevioletred !important;
} */

.Element:hover {
  outline: 4px dotted deeppink;
}

.Element.isSelectedElement {
  outline: 4px dotted dodgerblue;
}

.Element.isSelectedElement:hover {
  outline: 4px dotted darkorchid;
}

.boxShadowX {
  box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 16px 24px -8px;
}
